<div class="row">
    <div [ngClass]="isSidePanelVisible ? 'col-8' : 'col-12'">
        <div class="card">
            <div class="card-header bg-primary">
                <div class="row">
                    <div class="col-6">
                        Product List
                    </div>
                      <div class="col-6 text-end">
                        <button class="btn btn-sm btn-success" (click)="onCreate()">New</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="cards">
                    <div class="cardItem" *ngFor="let product of productList$ | async">
                            <img class="card-img-top" [src]="product.productImageUrl" alt="Card image">
                            <h4 class="text">{{product.productName}}</h4>
                            <h4 class="text">{{product.productPrice}}</h4>
                            <button (click)="onSelect(product)">Select</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4" *ngIf="isSidePanelVisible">
        <div class="card">
            <div class="card-header bg-primary">
                <div class="row">
                    <div class="col-6">
                        New Product
                    </div>
                    <div class="col-6 text-end">
                        
                    </div>
                </div>
            </div>

            
            
            <div *ngIf="selectedProduct">

                <h2>{{selectedProduct.productName| uppercase}} Details</h2>
                <div><span>id: </span>{{selectedProduct.id}}</div>
                <div>
                  <label for="product-name">Product name: </label>
                  <input id="product-name" [(ngModel)]="selectedProduct.productName" placeholder="productName">
                </div>
              
              </div>
        </div>
    </div>
</div>