<div class="row">
    <div [ngClass]="isSidePanelVisible ? 'col-8' : 'col-12'">
        <div class="card">
            <div class="card-header bg-primary">
                <div class="row">
                    <div class="col-6">
                        Product List
                    </div>
                   <!-- #region  <div class="col-6 text-end">
                        <button class="btn btn-sm btn-success" (click)="openSidePanel()">New</button>
                    </div>-->
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <!--<div class="col-3" *ngFor="let product of productsList$ | async">-->
                        <div class="col-3" *ngFor="let product of productList$ | async">
                            <div class="card">
                                <img class="card-img-top" style="height: 12.125rem;" [src]="product.productImageUrl" alt="Card image">
                                <div class="card-body">
                                <h4 class="card-title">{{product.productName}}</h4>
                                <h4 class="card-title">{{product.productPrice}}</h4>
                                <a class="btn btn-primary" (click)="onSelect(product)">Select</a>
                                <!-- #region <a href="#" class="btn btn-primary" (click)="onDelete(product.Id)">Delete</a>-->
                                </div>
                            </div>
                        </div>

                        <!-- <app-product-detail [product]="selectedProduct"></app-product-detail> -->
                </div>
            </div>
        </div>
    </div>
    <div class="col-4" *ngIf="isSidePanelVisible">
        <div class="card">
            <div class="card-header bg-primary">
                <div class="row">
                    <div class="col-6">
                        New Product
                    </div>
                    <div class="col-6 text-end">
                        <button class="btn btn-sm btn-success"  (click)="closeSidePanel()">Close</button>
                    </div>
                </div>
            </div>

            
            
            <div *ngIf="selectedProduct">

                <h2>{{selectedProduct.productName| uppercase}} Details</h2>
                <div><span>id: </span>{{selectedProduct.Id}}</div>
                <div>
                  <label for="product-name">Product name: </label>
                  <input id="product-name" [(ngModel)]="selectedProduct.productName" placeholder="productName">
                </div>
              
              </div>
        </div>
    </div>
</div>